@model Projekt.ViewModels.GradeDetailsViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Szczegóły oceny</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Imię:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Nazwisko:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
             Wartość:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grade.Value)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj ocenę", "Edit", new { id = Model.Grade.Id  }) |
    @Html.ActionLink("Wróć do listy ocen", "Index", new{id=Model.Grade.StudentId})
</p>
