@model Projekt.ViewModels.GradeIndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h3>@Html.DisplayFor(Model => Model.StudentName) @Html.DisplayFor(Model => Model.StudentSurname)</h3>
<br />

<table class="table">
    <tr>
        <th >
            <h5 class="">Oceny</h5>
        </th>
    </tr>

        @try
        {
            foreach (var grade in Model.Grades)
            {
                <tr>
                    <td>
                         @grade.Value
                    </td>

                    <td>
                         @Html.ActionLink("Edytuj ocenę", "Edit", "Grades", new { id = grade.Id }, new { @class = "" }) |
                         @Html.ActionLink("Szczegóły", "Details", "Grades", new { id = grade.Id }, new { @class = "" }) |
                         @Html.ActionLink("Usuń ocenę", "Delete", "Grades", new { id = grade.Id }, new { @class = "" })
                    </td>
                </tr>
            }
        }
        catch
        {
            <td>
                <p>Brak ocen</p>
            </td>
        }  
</table>

<div>
    <p>
        @Html.ActionLink("Dodaj Ocenę", "Create", "Grades",new{studentId=Model.StudentId},new{@class=""})
    </p>
    <p>
        @Html.ActionLink("Wróć do listy studentów", "Index", "Student")
    </p>
    
</div>
